[lift]
name = "pantsible"
description = "Ansible with an embedded Python interpreter."
platforms = [
#    "linux-aarch64",
    "linux-x86_64",
    "macos-aarch64",
#    "macos-x86_64",
]

[[lift.interpreters]]
id = "cpython"
provider = "PythonBuildStandalone"
release = "20251031"
version = "3.14.0"

[[lift.files]]
name = ":pex"

# TODO: Update to pants-plugin required, as "args" are optional

[[lift.commands]]
name = "ansible"
exe = "{scie.bindings.venv}/venv/bin/ansible"
args = []

[[lift.commands]]
name = "ansible-config"
exe = "{scie.bindings.venv}/venv/bin/ansible-config"
args = []

[[lift.commands]]
name = "ansible-console"
exe = "{scie.bindings.venv}/venv/bin/ansible-console"
args = []

[[lift.commands]]
name = "ansible-doc"
exe = "{scie.bindings.venv}/venv/bin/ansible-doc"
args = []

[[lift.commands]]
name = "ansible-galaxy"
exe = "{scie.bindings.venv}/venv/bin/ansible-galaxy"
args = []

[[lift.commands]]
name = "ansible-inventory"
exe = "{scie.bindings.venv}/venv/bin/ansible-inventory"
args = []

[[lift.commands]]
name = "ansible-playbook"
exe = "{scie.bindings.venv}/venv/bin/ansible-playbook"
args = []

[[lift.commands]]
name = "ansible-pull"
exe = "{scie.bindings.venv}/venv/bin/ansible-pull"
args = []

[[lift.commands]]
name = "ansible-vault"
exe = "{scie.bindings.venv}/venv/bin/ansible-vault"
args = []

[[lift.bindings]]
name = "venv"
description = "Installs the app into a venv and pre-compiles .pyc"
exe = "#{cpython:python}"
args = [
    "{:pex}",
    "venv",
    "--bin-path",
    "prepend",
    "--compile",
    "--rm",
    "all",
    "{scie.bindings}/venv",
]

[lift.bindings.env.default]
"=PATH" = "{cpython}/python/bin:{scie.env.PATH}"
"PEX_TOOLS" = "1"
"PEX_ROOT" = "{scie.bindings}/pex_root"
